p {
	margin:auto;
	position:absolute;
	letter-spacing:0px;
}

.answerP {
	font-size:30pt;
	font-family:Verdana;
	color:#FFFFFF;
	left:120px;
	top:27px;
	letter-spacing:-1px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.ataPercentStrapP { 
	width:146px;
	text-align:center;
	font-size:25pt;
	font-family:Verdana;
	color:white;
	top:18px;
}

.contestantNameP {
	font-size:40pt;
	font-family:Verdana;
	color:white;
	text-align:center;
	letter-spacing:3px;
	width:900px;
	left:0px;
	right:0px;
	top:65px;
}

.contestantLocationP {
	font-size:35pt;
	font-family:Verdana;
	color:#EA932C;
	text-align:center;
	width:900px;
	left:0px;
	right:0px;
	bottom:65px;
}

.fastestContestantNameP {
	font-size:30pt;
	font-family:Verdana;
	color:#FFFFFF;
	top:20px;
	left:445px;
}

.fastestContestantTimeP {
	font-size:30pt;
	font-family:Verdana;
	color:#000000;
	top:20px;
	right:445px;
}

.fastestFingerTreeQuestionP {
	color:white;
	font-family:Verdana;
	font-size:30pt;
	letter-spacing:-1px;
}

.fastestTreeLetterP {
	font-size:30pt;
	font-family:Verdana;
	color:#EA932C;
	left:75px;
	top:25px;
	letter-spacing:-2px;
}

.fastestTreeAnswerP{
	font-size:30pt;
	font-family:Verdana;
	color:#FFFFFF;
	left:125px;
	top:25px;
	letter-spacing:-2px;
}

.letterP {
	font-size:30pt;
	font-family:Verdana;
	color:#EA932C;
	left:65px;
	top:27px;
	letter-spacing:-2px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.winningsP {
	color:#EA932C;
	font-family:CopperplateBold;
	font-size:80pt;
	text-align:center;
	width:1920px;
	left:0px;
	right:0px;
	top:48px;
	letter-spacing:5px;
	scale:100% 100%;
}